<!DOCTYPE html>
<html lang="{{ site.lang | default: "zh-CN" }}">
  <head>
    <meta charset="UTF-8">
    <title>冬優ちゃんの小窝</title>
    <link rel="icon" type="image/x-icon" href="https://logo-1307697888.cos.ap-beijing.myqcloud.com/favicon.ico">
    <link rel="icon" type="image/png" href="https://logo-1307697888.cos.ap-beijing.myqcloud.com/logo16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="https://logo-1307697888.cos.ap-beijing.myqcloud.com/logo32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="https://logo-1307697888.cos.ap-beijing.myqcloud.com/logo64.png" sizes="64x64">
    <link rel="icon" type="image/png" href="https://logo-1307697888.cos.ap-beijing.myqcloud.com/logo96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="https://logo-1307697888.cos.ap-beijing.myqcloud.com/logo128.png" sizes="128x128">
    <link rel="icon" type="image/png" href="https://logo-1307697888.cos.ap-beijing.myqcloud.com/logo192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="https://logo-1307697888.cos.ap-beijing.myqcloud.com/logo196.png" sizes="196x196">
    <link rel="icon" type="image/png" href="https://logo-1307697888.cos.ap-beijing.myqcloud.com/logo256.png" sizes="256x256">
    <link rel="icon" type="image/png" href="https://logo-1307697888.cos.ap-beijing.myqcloud.com/logo512.png" sizes="512x512">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome/css/font-awesome.min.css">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">冬優ちゃんの小窝</h1>
      <h2 class="project-tagline"></h2>
      <a href="https://www.fuibafuyu.top/" class="btn">首页</a>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        <h1 id="友情链接"><center>友情链接</center></h1>
        <p><a href="https://www.puresys.net/" target="_blank" rel="noopener noreferrer" title="Puresys纯净系统-软件下载">Puresys</a></p>
        <p><a href="https://easyig.site/" target="_blank" rel="noopener noreferrer" title="界面简洁美观，功能新颖的系统备份还原工具">EasyIG</a></p>
        <p><a href="https://firpe.cn/" target="_blank" rel="noopener noreferrer" title="也许是最适合年轻人使用的第三方WinPE~">FirPE</a></p>
        <p><a href="https://nalanyinyun.ml/" target="_blank" rel="noopener noreferrer" title="大姐姐，点击祸害">Nalanyinyun’s Library</a></p>
        <p><a href="https://mirageteam.rth.app/" target="_blank" rel="noopener noreferrer" title="乐松工作室幻彩计划">MIEAGE Plan © LESON</a></p>
        <p><a href="https://www.cqzhx.top/" target="_blank" rel="noopener noreferrer" title="优质资源分享">某全小站</a></p>
        <p><a href="http://djz.plus/" target="_blank" rel="noopener noreferrer" title="永远相信美好的事情即将发生">丁教主Dingの小站</a></p>
        <p><a href="https://blog.fuibafuyu.top/" target="_blank" rel="noopener noreferrer" title="うち、フユどす">冬優ちゃんのBlog</a></p>
        <p><a href="https://drive.fuibafuyu.top/" target="_blank" rel="noopener noreferrer" title="うち、フユどす">风衣叶云盘</a></p>
        
        <div align="center">
          <img src="https://api.xhofe.top/ip/?line1=欢迎访问本站！&line2=fuibafuyu.top">
        </div>

        <div align="center">
          本站已稳定运行：<span id="htmer_time"></span>
        </div>

      </footer>
    </main>
  </body>

  <script src="https://cdn.jsdelivr.net/gh/stevenjoezhang/live2d-widget/autoload.js"></script>

  <script>

    (function(window,document,undefined){
        var hearts = [];
        window.requestAnimationFrame = (function(){
            return window.requestAnimationFrame ||
            window.webkitRequestAnimationFrame ||
            window.mozRequestAnimationFrame ||
            window.oRequestAnimationFrame ||
            window.msRequestAnimationFrame ||
            function (callback){
                setTimeout(callback,1000/60);
            }
        })();
        init();
        function init(){
            css(".heart{width: 10px;height: 10px;position: fixed;background: #f00;transform: rotate(45deg);-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);}.heart:after,.heart:before{content: '';width: inherit;height: inherit;background: inherit;border-radius: 50%;-webkit-border-radius: 50%;-moz-border-radius: 50%;position: absolute;}.heart:after{top: -5px;}.heart:before{left: -5px;}");
            attachEvent();
            gameloop();
        }
        function gameloop(){
            for(var i=0;i<hearts.length;i++){
                if(hearts[i].alpha <=0){
                    document.body.removeChild(hearts[i].el);
                    hearts.splice(i,1);
                    continue;
                }
                hearts[i].y--;
                hearts[i].scale += 0.004;
                hearts[i].alpha -= 0.013;
                hearts[i].el.style.cssText = "left:"+hearts[i].x+"px;top:"+hearts[i].y+"px;opacity:"+hearts[i].alpha+";transform:scale("+hearts[i].scale+","+hearts[i].scale+") rotate(45deg);background:"+hearts[i].color;
            }
            requestAnimationFrame(gameloop);
        }
        function attachEvent(){
            var old = typeof window.onclick==="function" && window.onclick;
            window.onclick = function(event){
                old && old();
                createHeart(event);
            }
        }
        function createHeart(event){
            var d = document.createElement("div");
            d.className = "heart";
            hearts.push({
                el : d,
                x : event.clientX - 5,
                y : event.clientY - 5,
                scale : 1,
                alpha : 1,
                color : randomColor()
            });
            document.body.appendChild(d);
        }
        function css(css){
            var style = document.createElement("style");
            style.type="text/css";
            try{
                style.appendChild(document.createTextNode(css));
            }catch(ex){
                style.styleSheet.cssText = css;
            }
            document.getElementsByTagName('head')[0].appendChild(style);
        }
        function randomColor(){
            return "rgb("+(~~(Math.random()*255))+","+(~~(Math.random()*255))+","+(~~(Math.random()*255))+")";
        }
    })(window,document);
</script>

<script>
    function secondToDate(second) {
        if (!second) {
            return 0;
        }
        var time = new Array(0, 0, 0, 0, 0);
        if (second >= 365 * 24 * 3600) {
            time[0] = parseInt(second / (365 * 24 * 3600));
            second %= 365 * 24 * 3600;
        }
        if (second >= 24 * 3600) {
            time[1] = parseInt(second / (24 * 3600));
            second %= 24 * 3600;
        }
        if (second >= 3600) {
            time[2] = parseInt(second / 3600);
            second %= 3600;
        }
        if (second >= 60) {
            time[3] = parseInt(second / 60);
            second %= 60;
        }
        if (second > 0) {
            time[4] = second;
        }
        return time;
    }</script><script type="text/javascript" language="javascript">
    function setTime() {
        var create_time = Math.round(new Date(Date.UTC(2021, 10, 13, 11, 20, 47)).getTime() / 1000);
        var timestamp = Math.round((new Date().getTime() + 8 * 60 * 60 * 1000) / 1000);
        currentTime = secondToDate((timestamp - create_time));
        currentTimeHtml = currentTime[0] + '年' + currentTime[1] + '天'
                + currentTime[2] + '时' + currentTime[3] + '分' + currentTime[4]
                + '秒';
        document.getElementById("htmer_time").innerHTML = currentTimeHtml;
    }    setInterval(setTime, 1000);
</script>
</html>
