<!DOCTYPE html>
<html lang="{{ site.lang | default: " zh-CN" }}">

<head>
    <meta charset="UTF-8">
    <title>冬優ちゃんの小窝</title>
    <link rel="icon" sizes="48x48" href="https://jsd.nn.ci/gh/FuibaFuyu/fuibafuyu.github.io/icon/icon-48.png">
    <link rel="icon" sizes="96x96" href="https://jsd.nn.ci/gh/FuibaFuyu/fuibafuyu.github.io/icon/icon-96.png">
    <link rel="icon" sizes="144x144" href="https://jsd.nn.ci/gh/FuibaFuyu/fuibafuyu.github.io/icon/icon-144.png">
    <link rel="icon" sizes="192x192" href="https://jsd.nn.ci/gh/FuibaFuyu/fuibafuyu.github.io/icon/icon-192.png">
    <link rel="icon" sizes="256x256" href="https://jsd.nn.ci/gh/FuibaFuyu/fuibafuyu.github.io/icon/icon-256.png">
    <link rel="icon" sizes="384x384" href="https://jsd.nn.ci/gh/FuibaFuyu/fuibafuyu.github.io/icon/icon-384.png">
    <link rel="icon" sizes="512x512" href="https://jsd.nn.ci/gh/FuibaFuyu/fuibafuyu.github.io/icon/icon-512.png">
    <link rel="apple-touch-icon" sizes="120x120" href="https://jsd.nn.ci/gh/FuibaFuyu/fuibafuyu.github.io/icon/apple-touch-icon-120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://jsd.nn.ci/gh/FuibaFuyu/fuibafuyu.github.io/icon/apple-touch-icon-152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="https://jsd.nn.ci/gh/FuibaFuyu/fuibafuyu.github.io/icon/apple-touch-icon-167.png">
    <link rel="apple-touch-icon" sizes="180x180" href="https://jsd.nn.ci/gh/FuibaFuyu/fuibafuyu.github.io/icon/apple-touch-icon-180.png">
    <link rel="icon" type="iamge/png" sizes="16x16" href="https://jsd.nn.ci/gh/FuibaFuyu/fuibafuyu.github.io/icon/favicon-16.png">
    <link rel="icon" type="iamge/png" sizes="32x32" href="https://jsd.nn.ci/gh/FuibaFuyu/fuibafuyu.github.io/icon/favicon-32.png">
    <link rel="icon" type="iamge/png" sizes="64x64" href="https://jsd.nn.ci/gh/FuibaFuyu/fuibafuyu.github.io/icon/favicon-64.png">
    <link rel="icon" type="iamge/png" sizes="128x128" href="https://jsd.nn.ci/gh/FuibaFuyu/fuibafuyu.github.io/icon/favicon-128.png">
    <link rel="shortcut icon" type="image/x-icon" href="https://jsd.nn.ci/gh/FuibaFuyu/fuibafuyu.github.io/icon/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Noto+Sans+SC:wght@100..900&display=swap" rel="stylesheet">

    <script>
        var isIE = /MSIE|Trident/.test(window.navigator.userAgent);

        if (isIE) {
            window.location.href = "ie_not_supported";
        }
    </script>

    <script>
        var prevScrollpos = window.pageYOffset;
        window.onscroll = function () {
            var currentScrollPos = window.pageYOffset;
            if (prevScrollpos > currentScrollPos) {
                document.querySelector("#back").classList.remove('shrink');
                document.querySelector(".page-header.page-header-back").classList.remove("shrink");
                document.querySelector(".page-header.page-header-box").classList.remove("shrink");
                document.querySelector(".project-name").classList.remove("shrink");
            } else {
                document.querySelector("#back").classList.add('shrink');
                document.querySelector(".page-header.page-header-back").classList.add("shrink");
                document.querySelector(".page-header.page-header-box").classList.add("shrink");
                document.querySelector(".project-name").classList.add("shrink");
            }
            prevScrollpos = currentScrollPos;
        }
    </script>

    {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#FB7299">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
</head>

<body>
    <progress id="content_progress" value="0"></progress>
    <header class="page-header" role="banner"></header>
    <header class="page-header page-header-box" role="banner">
        <h1 class="project-name">冬優ちゃんの小窝</h1>
        <h2 class="project-tagline"></h2>
        <a onClick="javascript: history.back(-1);" class="btn" id="back">返回</a>
    </header>

    <main id="content" class="main-content" role="main">
        {{ content }}

        <footer class="site-footer">
            <p><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh" target="_blank" rel="noopener noreferrer"><img alt="知识共享许可协议" style="border-width:0" src="https://jsd.nn.ci/gh/FuibaFuyu/fuibafuyu.github.io/img/by-nc-sa.png" /></a><br />本作品采用<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh" target="_blank" rel="noopener noreferrer">知识共享署名-非商业性使用-相同方式共享 4.0 国际许可协议</a>进行许可。</p>
            <h1 id="友情链接">友情链接</h1>
            <p><a href="https://www.puresys.net" target="_blank" rel="noopener noreferrer" title="Puresys纯净系统-软件下载">Puresys</a></p>
            <p><a href="https://firpe.cn" target="_blank" rel="noopener noreferrer" title="也许是最适合年轻人使用的第三方WinPE~">FirPE</a></p>
            <p><a href="https://glasspe.cn" target="_blank" rel="noopener noreferrer" title="稳定、简约、纯净的WinPE">GlassPE</a></p>
            <p><a href="https://nn.ci" target="_blank" rel="noopener noreferrer" title="晚来天欲雪，能饮一杯无？">Xhofe's Blog</a></p>
            <p><a href="https://ruanjianya.net" target="_blank" rel="noopener noreferrer" title="软件鸭 是一个内容优质、资源丰富的软硬件杂谈、绿色资源分享网站">软件鸭</a></p>
            <p><a href="https://www.lomcia.cn" target="_blank" rel="noopener noreferrer" title="记录生活或技术分享">洛辰の小站</a></p>
            <p><a href="https://0721.help" target="_blank" rel="noopener noreferrer">小珞の温馨小屋</a></p>
            <p><a href="https://www.xkOfficial.top" target="_blank" rel="noopener noreferrer">星空Official的小窝</a></p>
            <p><a href="https://ciyun.asia" target="_blank" rel="noopener noreferrer">Ciyunの官方网站</a></p>
            <!-- <p><a href="https://www.replow.moe" target="_blank" rel="noopener noreferrer" title="想要成为一个二次元社区～">Rep 小站</a></p> -->
            <p><a href="https://home.mcocet.top" target="_blank" rel="noopener noreferrer" title="欢迎来到我的主页!">MCOCET的小站</a></p>
            <p><a href="https://raxxt.top" target="_blank" rel="noopener noreferrer">Ra小小特的小站</a></p>
            <p><a href="http://royofficial.com" target="_blank" rel="noopener noreferrer">Royの主页</a></p>
            <!-- <p><a href="https://www.bzdjsm.com" target="_blank" rel="noopener noreferrer">BZDJSM资源分享站</a></p> -->

            <div align="center" style="filter: grayscale(1) invert(1)"><iframe src="https://2025.ip138.com" rel="nofollow" width="100%" height="26" frameborder="0" scrolling="no"></iframe></div>

            <div align="center">
                本站已稳定运行：<span id="htmer_time"></span>
            </div>

            <div align="center">
                <span><a style="color: #fff" href="https://icp.gov.moe/?keyword=20222238" target="_blank"><img style="width:32px;height:32px;margin-bottom:-8px" src="https://icp.gov.moe/images/ico64.png">萌ICP备20222238号</a></span>
            </div>
        </footer>
    </main>
</body>

<canvas class="fireworks" style="position: fixed; left: 0; top: 0; z-index: 1; pointer-events: none;"></canvas>
<script src="/assets/js/anime-2.2.0.min.js"></script>
<script src="/assets/js/cursor.js"></script>

<script>document.addEventListener('DOMContentLoaded', function () {
        var winHeight = window.innerHeight,
            docHeight = document.documentElement.scrollHeight,
            progressBar = document.querySelector('#content_progress');
        progressBar.max = docHeight - winHeight;
        progressBar.value = window.scrollY;

        document.addEventListener('scroll', function () {
            progressBar.max = document.documentElement.scrollHeight - window.innerHeight;
            progressBar.value = window.scrollY;
        });
    });
</script>

<script>
    function secondToDate(second) {
        if (!second) {
            return 0;
        }
        var time = new Array(0, 0, 0, 0, 0);
        if (second >= 365 * 24 * 3600) {
            time[0] = parseInt(second / (365 * 24 * 3600));
            second %= 365 * 24 * 3600;
        }
        if (second >= 24 * 3600) {
            time[1] = parseInt(second / (24 * 3600));
            second %= 24 * 3600;
        }
        if (second >= 3600) {
            time[2] = parseInt(second / 3600);
            second %= 3600;
        }
        if (second >= 60) {
            time[3] = parseInt(second / 60);
            second %= 60;
        }
        if (second > 0) {
            time[4] = second;
        }
        return time;
    }
</script>

<script type="text/javascript" language="javascript">
    function setTime() {
        var create_time = Math.round(new Date(Date.UTC(2021, 10, 13, 11, 20, 47)).getTime() / 1000);
        var timestamp = Math.round((new Date().getTime() + 8 * 60 * 60 * 1000) / 1000);
        currentTime = secondToDate((timestamp - create_time));
        currentTimeHtml = currentTime[0] + '年' + currentTime[1] + '天'
            + currentTime[2] + '时' + currentTime[3] + '分' + currentTime[4]
            + '秒';
        document.getElementById("htmer_time").innerHTML = currentTimeHtml;
    } setInterval(setTime, 1000);
</script>

</html>
